<button (click)="recuperarCriteris()">Veure taula</button>
<table>
    <thead>
      <tr>
        <th>
        <th *ngFor="let nota of notesStorage">
            {{ nota }}
        </th>
      </tr>
    </thead>
      <tr>
        <tbody *ngFor="let criteri of criterisStorage">
                <td>{{ criteri }}</td>
        </tbody> 
        <td *ngFor="let valoracio of valoracionsStorage">
                {{ valoracio }}
        </td>
      </tr>
</table>
<button (click)="ferMitjana()">Mitjana</button>
<div id="mitjana">

</div>
 