<button (click)="recuperarCriteris()">Acabar votació i veure taula</button>
<table>
    <thead>
      <tr>
        <th>Criteris</th>
        <th>Valoracions</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <li *ngFor="let criteri of criterisStorage">
                {{ criteri }}
            </li>
        </td> 
        <td>
            <li *ngFor="let valoracio of valoracionsStorage">
                {{ valoracio }}
            </li>

        </td>
        <td>
            <li *ngFor="let nota of notesStorage">
                {{ nota }}
            </li>
        </td>
      </tr>
    </tbody>
</table>
<button (click)="ferMitjana()">Mitjana</button>

 